body {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.subhead{
  font-style: italic;
}

.Application {
  font-family: sans-serif;
}

.Header {
  text-align: center;
}

.todo{
  justify-content: center;
  display: grid;
}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

li {
  margin: 10px;
}

.delete-button{
  text-align: center;
  justify-content: center;
}