body {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.Application {
  font-family: sans-serif;
}

.Header {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

li {
  margin: 10px;
}